body{
    overflow-x: hidden;
}
.task{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space-collapse: preserve;
    font-size: 3vw;
    font-weight:bolder;
    margin: 15vw;
    margin-top: 0vw;
    margin-bottom:3vw;
    padding: 3vw;
    border-radius: 10vw;
    position:relative;
    transition: 0.5s ease;
    word-wrap: break-word;
}
.task:hover{
    filter:brightness(80%);
}
.line{
    position:absolute;
    left:-5%;
    top:50%;
    transform:translateY(-50%);
    border-top: 0vw solid black;
    transition: 0.5s ease;
}
#clear{
    width:5em;
    border: 0.25vw solid black;
    background-color: transparent;
    color: black;
    opacity: 10%;
    border-radius: 2vw;
    transition: 0.5s ease;
    font-size:3vh;
}
#stuff{
    margin:auto;
    text-align:center;
    width:5vw;
    height:5vw;
    position:relative;
    transition: width 0.5s ease;
}
#newtask {
    margin:auto;
    width:4vw;
    height: 4vw;
    text-align: center;
    border: 0.25vw solid black;
    border-radius: 50%;
    position:relative;
    top:50%;
    left: 0%;
    transform: translateY(-50%);
    transition: 0.5s ease;
    background-color: transparent;
    opacity: 10%;
}
.plus{
    border: 0.25vw solid black; 
    transition:0.5s ease;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%)

}
#colorinput, #bgcolorpicker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    margin:auto;
    display:inline-flex;
    width:5vw;
    height: 5vw;
    text-align: center;
    border: none;
    position:absolute;
}
#colorinput{
    left:20%;
    top:50%;
    opacity: 0%;
    transform: translate(0, -50%);
    transition: 0.5s ease;
}
#colorinput::-webkit-color-swatch, #bgcolorpicker::-webkit-color-swatch{
    border: 0.25vw solid black;
    border-radius:50%;
    -webkit-transition: 0.5s ease;
}
#bgcolorpicker::-webkit-color-swatch{
    border-width: 0;
    border-color:black;
}
#inputtask{
    width:0vw;
    height:5vw;
    font-size:2vw;
    border-radius: 10vw;
    opacity: 0%;
    transition: 0.3s ease;
    margin-top:-4.7vw;
    pointer-events: none;
    position:relative;
}
#clear:hover{
    opacity:50%;
}
#stuff:hover > #newtask, #colorinput:focus ~ #newtask{
    opacity: 20%;
    top:50%;
    left:-45%;
}
#stuff:hover > #inputtask, #stuff #colorinput:focus ~ #inputtask, #stuff #inputtask:focus{
    transition: 0.6s ease;
    opacity: 90%;
    width:65vw;
    margin-top: -4.7vw;
    pointer-events: auto;
}
#stuff:hover > #colorinput, #stuff #colorinput:focus{
    opacity: 20%;
    left: 92%;
}
#stuff #newtask:hover, #newtask:hover > .plus, #stuff #colorinput:hover{
    opacity: 100%;
}
#bgcolorpicker::-webkit-color-swatch:hover, #bgcolorpicker:hover{
    border-width:0.25vw;
}
#stuff:hover, #stuff:has(#colorinput:focus), #stuff:has(#inputtask:focus){
    width:80vw;
}
